#carcasa{
    height: 950px;
    width: 550px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    justify-content: center; 
    align-items: top;    
}
#pantalla{
    margin-top: 30px;
    height: 840px;
    width: 455px;
    background-color: white;
    border-radius: 25px;  
}
