#title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 25px;
}
#autor{
        font-size: medium;
        font-weight: 500;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
#subtitle{
    font-size: x-large;
    font-weight: 700;
    
}
