#a{
    height: 20%;
    width: 10%;
    background-color: red;
}
#b{
    height: 20%;
    width: 20%;
    background-color: blue;
}
#c{
    height: 10%;
    width: 30%;
    background-color: black;
}
#d{
    height: 10%;
    width: 40%;
    background-color: gray;
}
#e{
    height: 10%;
    width: 50%;
    background-color: palegoldenrod;
}
#f{
    height: 10%;
    width: 40%;
    background-color: rebeccapurple;
}
#g{
    height: 10%;
    width: 30%;
    background-color: gold;
}   
#h{
    height: 10%;
    width: 20%;
    background-color: red;
}
#i{
    height: 10%;
    width: 10%;
    background-color: orange;
}